___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Groupby

The groupby method allows you to group rows of data together and call aggregate functions

In [24]:
import pandas as pd
import numpy as np
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [25]:
df = pd.DataFrame(data)

In [26]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

** Now you can use the .groupby() method to group rows together based off of a column name. For instance let's group based off of Company. This will create a DataFrameGroupBy object:**

In [27]:
df.groupby('Company')

You can save this object as a new variable:

In [37]:
byComp = df.groupby('Company')

And then call aggregate methods off the object:

In [38]:
df.groupby('Company')

In [40]:
byComp['Sales'].mean()

Company
FB      296.5
GOOG    160.0
MSFT    232.0
Name: Sales, dtype: float64

More examples of aggregate methods:

In [41]:
byComp['Sales'].std()

Company
FB       75.660426
GOOG     56.568542
MSFT    152.735065
Name: Sales, dtype: float64

In [42]:
byComp['Sales'].min()

Company
FB      243
GOOG    120
MSFT    124
Name: Sales, dtype: int64

In [43]:
byComp['Sales'].max()

Company
FB      350
GOOG    200
MSFT    340
Name: Sales, dtype: int64

In [44]:
byComp['Sales'].count()

Company
FB      2
GOOG    2
MSFT    2
Name: Sales, dtype: int64

In [45]:
byComp['Sales'].describe()

         count   mean         std    min     25%    50%     75%    max
Company
FB         2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG       2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT       2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [46]:
byComp['Sales'].describe().transpose()

Company          FB        GOOG        MSFT
count      2.000000    2.000000    2.000000
mean     296.500000  160.000000  232.000000
std       75.660426   56.568542  152.735065
min      243.000000  120.000000  124.000000
25%      269.750000  140.000000  178.000000
50%      296.500000  160.000000  232.000000
75%      323.250000  180.000000  286.000000
max      350.000000  200.000000  340.000000

In [47]:
group.describe().transpose()['GOOG']

count      2.000000
mean     160.000000
std       56.568542
min      120.000000
25%      140.000000
50%      160.000000
75%      180.000000
max      200.000000
Name: GOOG, dtype: float64

In [50]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [52]:
df.groupby('Company').sum().loc['FB']

Person    CarlSarah
Sales           593
Name: FB, dtype: object

# Great Job!