    # Energy Dataset.

## 1. Importing the required libraries for EDA

Below are the libraries that are used IN THE MODEL

In [109]:
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
import math
import stats
import warnings
warnings.filterwarnings('ignore')

## 2. Loading the data into the data frame.

In [110]:
df = pd.read_csv("ENERGY_data.csv")
energy_data = df
# To display the top 42 rows
energy_data.head(42)

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.20,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,"6,52,230",33.939110,67.709953
1,Afghanistan,2001,4.074574,7.20,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,"6,52,230",33.939110,67.709953
2,Afghanistan,2002,9.409158,8.20,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,"6,52,230",33.939110,67.709953
3,Afghanistan,2003,14.738506,9.50,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,"6,52,230",33.939110,67.709953
4,Afghanistan,2004,20.064968,10.90,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,"6,52,230",33.939110,67.709953
5,Afghanistan,2005,25.390894,12.20,7.51,9830000.0,33.88,0.34,0.0,0.59,...,252.06912,1.41,1549.999952,NaN,11.229715,242.031313,60,"6,52,230",33.939110,67.709953
6,Afghanistan,2006,30.718690,13.85,7.40,10620000.0,31.89,0.20,0.0,0.64,...,304.42090,1.50,1759.999990,NaN,5.357403,263.733602,60,"6,52,230",33.939110,67.709953
7,Afghanistan,2007,36.051010,15.30,7.25,15750000.0,28.78,0.20,0.0,0.75,...,354.27990,1.53,1769.999981,NaN,13.826320,359.693158,60,"6,52,230",33.939110,67.709953
8,Afghanistan,2008,42.400000,16.70,7.49,16170000.0,21.17,0.19,0.0,0.54,...,607.83350,1.94,3559.999943,NaN,3.924984,364.663542,60,"6,52,230",33.939110,67.709953
9,Afghanistan,2009,46.740050,18.40,7.50,9960000.0,16.53,0.16,0.0,0.78,...,975.04816,2.25,4880.000114,NaN,21.390528,437.268740,60,"6,52,230",33.939110,67.709953
10,Afghanistan,2010,42.700000,20.00,8.27,36500000.0,15.15,0.19,0.0,0.75,...,1182.89200,2.46,7110.000134,NaN,14.362441,543.306526,60,"6,52,230",33.939110,67.709953
11,Afghanistan,2011,43.222020,21.80,8.13,28690000.0,12.61,0.18,0.0,0.60,...,1436.11430,3.23,8930.000305,NaN,0.426355,591.190030,60,"6,52,230",33.939110,67.709953
12,Afghanistan,2012,69.100000,23.00,9.29,62630000.0,15.36,0.14,0.0,0.74,...,1324.12110,2.61,8079.999924,NaN,12.752287,638.845852,60,"6,52,230",33.939110,67.709953
13,Afghanistan,2013,68.290650,24.80,9.10,268460000.0,16.86,0.22,0.0,0.89,...,1060.79260,2.46,5989.999771,NaN,5.600745,624.315454,60,"6,52,230",33.939110,67.709953
14,Afghanistan,2014,89.500000,26.10,8.95,6940000.0,18.93,0.16,0.0,1.00,...,868.57620,2.25,4880.000114,NaN,2.724543,614.223342,60,"6,52,230",33.939110,67.709953
15,Afghanistan,2015,71.500000,27.40,8.79,4890000.0,17.53,0.15,0.0,1.03,...,970.08030,2.37,5949.999809,NaN,1.451315,556.007221,60,"6,52,230",33.939110,67.709953
16,Afghanistan,2016,97.700000,28.60,9.87,860000.0,19.92,0.15,0.0,1.06,...,862.79114,2.24,5300.000191,NaN,2.260314,512.012778,60,"6,52,230",33.939110,67.709953
17,Afghanistan,2017,97.700000,29.70,9.79,50330000.0,19.21,0.18,0.0,1.09,...,829.31195,2.30,4780.000210,NaN,2.647003,516.679862,60,"6,52,230",33.939110,67.709953
18,Afghanistan,2018,96.616135,30.90,9.55,70100000.0,17.96,0.20,0.0,0.97,...,924.25085,2.44,6070.000172,NaN,1.189228,485.668419,60,"6,52,230",33.939110,67.709953
19,Afghanistan,2019,97.700000,31.90,9.58,4620000.0,18.51,0.18,0.0,0.89,...,802.61255,2.41,6079.999924,NaN,3.911603,494.179350,60,"6,52,230",33.939110,67.709953
20,Afghanistan,2020,97.700000,33.20,9.35,NaN,NaN,0.12,0.0,0.68,...,702.88800,NaN,NaN,NaN,-2.351101,516.747871,60,"6,52,230",33.939110,67.709953
21,Albania,2000,100.000000,38.20,NaN,NaN,NaN,0.14,0.0,4.55,...,9029.43750,4.13,3170.000000,NaN,6.946217,1126.683340,105,"28,748",41.153332,20.168331
22,Albania,2001,100.000000,40.50,NaN,NaN,NaN,0.13,0.0,3.52,...,8635.53200,3.89,3230.000000,NaN,8.293313,1281.659826,105,"28,748",41.153332,20.168331
23,Albania,2002,100.000000,43.20,NaN,NaN,NaN,0.16,0.0,3.48,...,9443.55500,4.10,3759.999990,NaN,4.536524,1425.124219,105,"28,748",41.153332,20.168331
24,Albania,2003,100.000000,46.40,NaN,NaN,NaN,0.10,0.0,5.12,...,10756.61200,3.80,4070.000172,NaN,5.528637,1846.120121,105,"28,748",41.153332,20.168331
25,Albania,2004,100.000000,49.00,NaN,NaN,NaN,0.13,0.0,5.41,...,11586.95100,3.96,4250.000000,NaN,5.514668,2373.581292,105,"28,748",41.153332,20.168331
26,Albania,2005,100.000000,51.90,NaN,NaN,NaN,0.07,0.0,5.32,...,11545.61600,3.75,4030.000210,NaN,5.526424,2673.786584,105,"28,748",41.153332,20.168331
27,Albania,2006,100.000000,54.80,NaN,NaN,NaN,0.09,0.0,4.95,...,10976.72800,3.46,4010.000229,NaN,5.902659,2972.742924,105,"28,748",41.153332,20.168331
28,Albania,2007,100.000000,58.10,NaN,NaN,NaN,0.07,0.0,2.76,...,9534.87400,3.12,4139.999866,NaN,5.983260,3595.038057,105,"28,748",41.153332,20.168331
29,Albania,2008,100.000000,60.80,NaN,NaN,NaN,0.07,0.0,3.76,...,10499.32800,3.01,4079.999924,NaN,7.500041,4370.539925,105,"28,748",41.153332,20.168331
30,Albania,2009,100.000000,63.60,NaN,NaN,NaN,0.00,0.0,5.20,...,11524.42800,2.98,4219.999790,NaN,3.354289,4114.134899,105,"28,748",41.153332,20.168331
31,Albania,2010,100.000000,66.50,NaN,NaN,NaN,0.00,0.0,7.49,...,12377.50400,2.85,4449.999809,NaN,3.706938,4094.348386,105,"28,748",41.153332,20.168331
32,Albania,2011,100.000000,68.90,NaN,NaN,NaN,0.06,0.0,4.09,...,10854.64900,2.91,4849.999905,NaN,2.545406,4437.142612,105,"28,748",41.153332,20.168331
33,Albania,2012,99.900000,71.30,NaN,NaN,NaN,0.00,0.0,4.68,...,10652.80900,2.57,4360.000134,NaN,1.417243,4247.630047,105,"28,748",41.153332,20.168331
34,Albania,2013,100.000000,73.15,NaN,NaN,NaN,0.00,0.0,6.89,...,13392.77400,2.96,4440.000057,NaN,1.002018,4413.062005,105,"28,748",41.153332,20.168331
35,Albania,2014,99.950000,74.60,NaN,NaN,NaN,0.00,0.0,4.68,...,11809.46100,2.93,4820.000172,NaN,1.774449,4578.633208,105,"28,748",41.153332,20.168331
36,Albania,2015,99.980000,76.20,NaN,NaN,NaN,0.00,0.0,5.84,...,11824.31400,2.69,4619.999886,NaN,2.218726,3952.802538,105,"28,748",41.153332,20.168331
37,Albania,2016,99.890000,77.80,NaN,NaN,NaN,0.00,0.0,7.70,...,13823.74800,2.68,4480.000019,NaN,3.314981,4124.055390,105,"28,748",41.153332,20.168331
38,Albania,2017,99.890000,78.70,NaN,NaN,NaN,0.00,0.0,4.48,...,12802.36000,2.69,5139.999866,NaN,3.802227,4531.019374,105,"28,748",41.153332,20.168331
39,Albania,2018,100.000000,79.80,NaN,NaN,NaN,0.00,0.0,8.47,...,14609.70100,2.57,5110.000134,NaN,4.019360,5287.663694,105,"28,748",41.153332,20.168331
40,Albania,2019,100.000000,80.70,NaN,NaN,NaN,0.00,0.0,5.17,...,11585.55500,2.50,4829.999924,NaN,2.113420,5395.659532,105,"28,748",41.153332,20.168331
41,Albania,2020,100.000000,81.30,NaN,NaN,NaN,0.00,0.0,5.31,...,11158.00300,NaN,NaN,NaN,-3.955398,5246.292306,105,"28,748",41.153332,20.168331

In [111]:
#Checking null values and types of the parameters
energy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 21 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Entity                                                            3649 non-null   object
 1   Year                                                              3649 non-null   int64
 2   Access to electricity (% of population)                           3639 non-null   float64
 3   Access to clean fuels for cooking                                 3480 non-null   float64
 4   Renewable-electricity-generating-capacity-per-capita              2718 non-null   float64
 5   Financial flows to developing countries (US $)                    1560 non-null   float64
 6   Renewable energy share in the total final energy consumption (%)  3455 non-null   float64
 7   Electricity from fossil fuels (TWh)                               3628 non-null   float64
 8   Electricity from nuclear (TWh)                                    3523 non-null   float64
 9   Electricity from renewables (TWh)                                 3628 non-null   float64
 10  Low-carbon electricity (% electricity)                            3607 non-null   float64
 11  Primary energy consumption per capita (kWh/person)                3649 non-null   float64
 12  Energy intensity level of primary energy (MJ/$2017 PPP GDP)       3442 non-null   float64
 13  Value_co2_emissions_kt_by_country                                 3221 non-null   float64
 14  Renewables (% equivalent primary energy)                          1512 non-null   float64
 15  gdp_growth                                                        3332 non-null   float64
 16  gdp_per_capita                                                    3367 non-null   float64
 17  Density\n(P/Km2)                                                  3648 non-null   object
 18  Land Area(Km2)                                                    3648 non-null   object
 19  Latitude                                                          3648 non-null   float64
 20  Longitude                                                         3648 non-null   float64
dtypes: float64(17), int64(1), object(3)
memory usage: 598.8+ KB

In [112]:
#Checking descriptive analytics of the numerical parameters
energy_data.describe()

,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Latitude,Longitude
count,3649.000000,3639.000000,3480.000000,2718.000000,1.560000e+03,3455.000000,3628.000000,3523.000000,3628.000000,3607.000000,3649.000000,3442.000000,3.221000e+03,1512.000000,3332.000000,3367.000000,3648.000000,3648.000000
mean,2010.038367,78.933702,63.255287,113.137498,9.422400e+07,32.638165,70.365003,13.450190,23.968010,36.801182,25743.981745,5.307345,1.598665e+05,11.986707,3.441610,13283.774348,18.246388,14.822695
std,6.054228,30.275541,39.043658,244.167256,2.981544e+08,29.894901,348.051866,73.006623,104.431085,34.314884,34773.221366,3.532020,7.736611e+05,14.994644,5.686720,19709.866716,24.159232,66.348148
min,2000.000000,1.252269,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.110000,1.000000e+01,0.000000,-62.075920,111.927225,-40.900557,-175.198242
25%,2005.000000,59.800890,23.175000,3.540000,2.600000e+05,6.515000,0.290000,0.000000,0.040000,2.877847,3116.737300,3.170000,2.020000e+03,2.137095,1.383302,1337.813437,3.202778,-11.779889
50%,2010.000000,98.361570,83.150000,32.910000,5.665000e+06,23.300000,2.970000,0.000000,1.470000,27.865068,13120.570000,4.300000,1.050000e+04,6.290766,3.559855,4578.633208,17.189877,19.145136
75%,2015.000000,100.000000,100.000000,112.210000,5.534750e+07,55.245000,26.837500,0.000000,9.600000,64.403792,33892.780000,6.027500,6.058000e+04,16.841638,5.830099,15768.615365,38.969719,46.199616
max,2020.000000,100.000000,100.000000,3060.190000,5.202310e+09,96.040000,5184.130000,809.410000,2184.940000,100.000010,262585.700000,32.570000,1.070722e+07,86.836586,123.139555,123514.196700,64.963051,178.065032

## 4. Renaming columns and dropping columns

In [113]:
#Adding "_" lower case to headers to easy hanlde
energy_data.columns = energy_data.columns.str.lower().str.replace(" ", "_")

In [114]:
#Renaming headers to easu handle titles
energy_data = energy_data.rename({'entity':'country','access_to_electricity_(%_of_population)':'access_electricity(%)','access_to_clean_fuels_for_cooking':'access_cleaning_flues_cooking','renewable-electricity-generating-capacity-per-capita':'renewal_electricity_capacity(per person)','financial_flows_to_developing_countries_(us_$)':'financial_flows($)','renewable_energy_share_in_the_total_final_energy_consumption_(%)':'renewable_energy_from_total(%)','electricity_from_fossil_fuels_(twh)':'electricity_fossil_fuels(twh)','electricity_from_nuclear_(twh)':'electricity_nuclear','electricity_from_renewables_(twh)':'electricity_from_renewals','low-carbon_electricity_(%_electricity)':'electricity_low_carbon(%)','primary_energy_consumption_per_capita_(kwh/person)':'primary_energy_consumption(kwh/person)','energy_intensity_level_of_primary_energy_(mj/$2017_ppp_gdp)':'primary_energy_intensity','value_co2_emissions_kt_by_country':'co2_emissions','renewables_(%_equivalent_primary_energy)':'renewables','density\\n(p/km2)':'density','land_area(km2)':'land_area'},axis = 1)

In [115]:
#Showing data of 'Land Area' and 'Density' as they have different type of data
energy_data[['land_area','density']]

     land_area density
0     6,52,230      60
1     6,52,230      60
2     6,52,230      60
3     6,52,230      60
4     6,52,230      60
...        ...     ...
3644  3,90,757      38
3645  3,90,757      38
3646  3,90,757      38
3647  3,90,757      38
3648  3,90,757      38

[3649 rows x 2 columns]

In [116]:
#Removing the comma from the numbers and then converting tu a numerica value
energy_data['land_area'] = energy_data['land_area'].str.replace(',', '')
energy_data['land_area'] = pd.to_numeric(energy_data['land_area'])

In [117]:
#Removing the comma from the numbers and then converting tu a numerica value
energy_data['density'] = energy_data['density'].str.replace(',', '')
energy_data['density'] = pd.to_numeric(energy_data['density'])

In [118]:
#Checking all the parameters have the correct type of data
energy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 21 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   country                                   3649 non-null   object
 1   year                                      3649 non-null   int64
 2   access_electricity(%)                     3639 non-null   float64
 3   access_cleaning_flues_cooking             3480 non-null   float64
 4   renewal_electricity_capacity(per person)  2718 non-null   float64
 5   financial_flows($)                        1560 non-null   float64
 6   renewable_energy_from_total(%)            3455 non-null   float64
 7   electricity_fossil_fuels(twh)             3628 non-null   float64
 8   electricity_nuclear                       3523 non-null   float64
 9   electricity_from_renewals                 3628 non-null   float64
 10  electricity_low_carbon(%)                 3607 non-null   float64
 11  primary_energy_consumption(kwh/person)    3649 non-null   float64
 12  primary_energy_intensity                  3442 non-null   float64
 13  co2_emissions                             3221 non-null   float64
 14  renewables                                1512 non-null   float64
 15  gdp_growth                                3332 non-null   float64
 16  gdp_per_capita                            3367 non-null   float64
 17  density                                   3648 non-null   float64
 18  land_area                                 3648 non-null   float64
 19  latitude                                  3648 non-null   float64
 20  longitude                                 3648 non-null   float64
dtypes: float64(19), int64(1), object(1)
memory usage: 598.8+ KB

In [119]:
#Checking if all the countries have 21 years
count_country = energy_data['country'].value_counts()
count_country[count_country != 21]

country
Serbia           14
Montenegro       14
South Sudan       8
French Guiana     1
Name: count, dtype: int64

In [120]:
#Drop the whole Country "South Sudan" and "French Guinea" as they don't have enough data
energy_data = energy_data.drop(energy_data[energy_data['country'] == 'French Guiana'].index)
energy_data = energy_data.drop(energy_data[energy_data['country'] == 'South Sudan'].index)

In [121]:
#Checking Serbia Country
serbia = energy_data[energy_data['country'] == 'Serbia']

In [122]:
years = [0,1,2,3,4,5,6]
new_row = [0,1,2,3,4,5,6]

In [123]:
for i in years:
    new_row[i] = {'country':'Serbia',
           'year':i+2000,
           'access_electricity':'', 
           'access_cooking_fuels':'', 
           'renewal_electricity_capacity':'',
           'financial_flows':'',
           'renewable_energy_share':'',
           'electricity_fossil_fuels':'',
           'electricity_nuclear':'',
           'electricity_renewals':'',
           'electricity_low_carbon':'',
           'primary_energy_consumption':'',
           'energy_level':'',
           'co2_emissions':'',
           'renewals':'',
           'gdp_growth':'',
           'gdp_per_capita':'',
           'density':'',
           'latitude':'',
           'longitude':'',
           'gdp_growth':''}
    serbia.loc[i] = new_row[i]

In [131]:
serbia = serbia.sort_index()
serbia

,country,year,access_electricity(%),access_cleaning_flues_cooking,renewal_electricity_capacity(per person),financial_flows($),renewable_energy_from_total(%),electricity_fossil_fuels(twh),electricity_nuclear,electricity_from_renewals,...,primary_energy_consumption(kwh/person),primary_energy_intensity,co2_emissions,renewables,gdp_growth,gdp_per_capita,density,land_area,latitude,longitude
0,Serbia,2000,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,...,NaN,NaN,,NaN,,,,NaN,,
1,Serbia,2001,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,...,NaN,NaN,,NaN,,,,NaN,,
2,Serbia,2002,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,...,NaN,NaN,,NaN,,,,NaN,,
3,Serbia,2003,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,...,NaN,NaN,,NaN,,,,NaN,,
4,Serbia,2004,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,...,NaN,NaN,,NaN,,,,NaN,,
5,Serbia,2005,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,...,NaN,NaN,,NaN,,,,NaN,,
6,Serbia,2006,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,...,NaN,NaN,,NaN,,,,NaN,,
2913,Serbia,2007,100.0000,64.60,NaN,NaN,14.03,26.51,0.0,9.46,...,26348.527,6.78,51459.99908,NaN,6.439526,5848.476405,100.0,77474.0,44.016521,21.005859
2914,Serbia,2008,100.0000,65.30,NaN,NaN,15.50,27.26,0.0,9.56,...,26371.516,6.53,49830.00183,NaN,5.655577,7101.040141,100.0,77474.0,44.016521,21.005859
2915,Serbia,2009,100.0000,66.10,NaN,NaN,20.68,27.17,0.0,10.54,...,25290.535,6.05,46869.99893,NaN,-2.731752,6169.114195,100.0,77474.0,44.016521,21.005859
2916,Serbia,2010,99.7184,67.40,NaN,NaN,20.47,25.53,0.0,11.89,...,26212.140,6.19,47099.99847,NaN,0.731045,5735.422857,100.0,77474.0,44.016521,21.005859
2917,Serbia,2011,100.0000,67.90,NaN,NaN,17.44,29.35,0.0,8.67,...,26607.537,6.29,51229.99954,NaN,2.036277,6809.159804,100.0,77474.0,44.016521,21.005859
2918,Serbia,2012,100.0000,69.20,NaN,NaN,19.47,26.89,0.0,9.30,...,25157.438,5.69,45790.00092,NaN,-0.681542,6015.945228,100.0,77474.0,44.016521,21.005859
2919,Serbia,2013,99.9200,70.45,NaN,NaN,20.03,29.01,0.0,10.22,...,25155.992,5.66,46470.00122,NaN,2.892637,6755.073675,100.0,77474.0,44.016521,21.005859
2920,Serbia,2014,99.6608,71.60,NaN,NaN,23.25,22.41,0.0,11.03,...,22474.787,5.12,38959.99908,NaN,-1.58951,6600.056809,100.0,77474.0,44.016521,21.005859
2921,Serbia,2015,99.9000,73.00,NaN,NaN,21.24,27.48,0.0,10.11,...,24964.810,5.59,45389.99939,NaN,1.806059,5588.980728,100.0,77474.0,44.016521,21.005859
2922,Serbia,2016,100.0000,74.40,NaN,NaN,20.91,27.75,0.0,10.86,...,25665.121,5.60,46619.99893,NaN,3.338587,5765.200762,100.0,77474.0,44.016521,21.005859
2923,Serbia,2017,100.0000,75.70,NaN,NaN,20.00,27.15,0.0,9.29,...,26359.041,5.61,47340.00015,NaN,2.101164,6292.543629,100.0,77474.0,44.016521,21.005859
2924,Serbia,2018,100.0000,77.30,NaN,NaN,21.05,25.77,0.0,10.90,...,26481.451,5.28,46130.00107,NaN,4.495121,7252.401858,100.0,77474.0,44.016521,21.005859
2925,Serbia,2019,99.8000,78.60,NaN,NaN,21.53,26.35,0.0,10.51,...,26602.787,5.04,45950.00076,NaN,4.331735,7417.203649,100.0,77474.0,44.016521,21.005859
2926,Serbia,2020,100.0000,79.80,NaN,NaN,NaN,27.02,0.0,10.21,...,26211.984,NaN,NaN,NaN,-0.944597,7720.510572,100.0,77474.0,44.016521,21.005859

In [136]:
from sklearn import linear_model

In [138]:
serbia['access_electricity(%)_pd'] = linear_model.predict(serbia.drop('access_electricity(%)', axis = 1))

serbia['access_electricity(%)_LM'] = np.where(serbia['access_electricity(%)']>0, serbia['access_electricity(%)'], serbia['access_electricity(%)_Pred'])

AttributeError: module 'sklearn.linear_model' has no attribute 'predict'

In [125]:
count_country = energy_data['country'].value_counts()
count_country

country
Afghanistan      21
Oman             21
Netherlands      21
New Caledonia    21
New Zealand      21
                 ..
Georgia          21
Germany          21
Zimbabwe         21
Serbia           14
Montenegro       14
Name: count, Length: 174, dtype: int64

In [126]:
south_sudan = energy_data[energy_data['country'] == 'Montenegro']

In [127]:
south_sudan

,country,year,access_electricity(%),access_cleaning_flues_cooking,renewal_electricity_capacity(per person),financial_flows($),renewable_energy_from_total(%),electricity_fossil_fuels(twh),electricity_nuclear,electricity_from_renewals,...,primary_energy_consumption(kwh/person),primary_energy_intensity,co2_emissions,renewables,gdp_growth,gdp_per_capita,density,land_area,latitude,longitude
2185,Montenegro,2007,100.0,64.80,NaN,NaN,42.27,0.86,0.0,1.28,...,21851.393,4.71,2099.999905,NaN,6.810150,5976.394145,47.0,13812.0,42.708678,19.37439
2186,Montenegro,2008,100.0,64.20,NaN,NaN,38.76,1.29,0.0,1.54,...,24712.115,4.73,2690.000057,NaN,7.222753,7367.751909,47.0,13812.0,42.708678,19.37439
2187,Montenegro,2009,100.0,63.30,NaN,NaN,49.16,0.69,0.0,2.07,...,21325.205,3.98,1750.000000,NaN,-5.795097,6727.107767,47.0,13812.0,42.708678,19.37439
2188,Montenegro,2010,100.0,63.00,NaN,NaN,49.09,1.27,0.0,2.75,...,26631.988,4.55,2579.999924,NaN,2.734331,6688.482400,47.0,13812.0,42.708678,19.37439
2189,Montenegro,2011,99.0,62.60,NaN,NaN,42.77,1.45,0.0,1.20,...,21941.479,4.39,2539.999962,NaN,3.228451,7328.932252,47.0,13812.0,42.708678,19.37439
2190,Montenegro,2012,100.0,61.90,NaN,NaN,45.86,1.37,0.0,1.48,...,21276.305,4.25,2329.999924,NaN,-2.723791,6586.721279,47.0,13812.0,42.708678,19.37439
2191,Montenegro,2013,99.7,61.70,NaN,NaN,49.34,1.44,0.0,2.50,...,22880.111,3.80,2269.999981,NaN,3.548980,7186.429787,47.0,13812.0,42.708678,19.37439
2192,Montenegro,2014,97.7,61.45,NaN,NaN,45.95,1.42,0.0,1.75,...,20434.420,3.64,2220.000029,NaN,1.783699,7378.345289,47.0,13812.0,42.708678,19.37439
2193,Montenegro,2015,100.0,61.40,NaN,NaN,42.96,1.51,0.0,1.49,...,21034.895,3.68,2359.999895,NaN,3.390381,6514.272695,47.0,13812.0,42.708678,19.37439
2194,Montenegro,2016,100.0,61.50,NaN,NaN,43.89,1.30,0.0,1.84,...,21028.148,3.47,2150.000095,NaN,2.949280,7028.936577,47.0,13812.0,42.708678,19.37439
2195,Montenegro,2017,100.0,61.70,NaN,NaN,37.77,1.36,0.0,1.12,...,19660.412,3.48,2269.999981,NaN,4.716465,7784.065290,47.0,13812.0,42.708678,19.37439
2196,Montenegro,2018,100.0,61.80,NaN,NaN,40.60,1.55,0.0,2.25,...,21852.676,3.42,2500.000000,NaN,5.077889,8845.914219,47.0,13812.0,42.708678,19.37439
2197,Montenegro,2019,100.0,62.00,NaN,NaN,38.74,1.50,0.0,1.93,...,20460.550,3.40,2599.999905,NaN,4.062945,8910.650834,47.0,13812.0,42.708678,19.37439
2198,Montenegro,2020,100.0,62.40,NaN,NaN,NaN,1.62,0.0,1.77,...,17942.342,NaN,NaN,NaN,-15.306894,7677.152226,47.0,13812.0,42.708678,19.37439

## 5. Handling missing or null values.

In [128]:
print('Number of missing values in each columns are below : ')
print(energy_data.isnull().sum())

Number of missing values in each columns are below :
country                                        0
year                                           0
access_electricity(%)                          9
access_cleaning_flues_cooking                168
renewal_electricity_capacity(per person)     931
financial_flows($)                          2086
renewable_energy_from_total(%)               193
electricity_fossil_fuels(twh)                 21
electricity_nuclear                          126
electricity_from_renewals                     21
electricity_low_carbon(%)                     42
primary_energy_consumption(kwh/person)         0
primary_energy_intensity                     201
co2_emissions                                426
renewables                                  2128
gdp_growth                                   311
gdp_per_capita                               276
density                                        0
land_area                                      0
latitude                                       0
longitude                                      0
dtype: int64

In [129]:
#ACCESS TO ELECTRICITY had 10 missing values. Since the Years are not recently and all the countries are from similar region I will replace that value with 0 

#CHANGE TO 
energy_data['access_electricity'] = energy_data['access_electricity'].fillna(0)

KeyError: 'access_electricity'

In [ ]:
#ACCESS TO COOKING FUELS had 169 missing values distributed in 8 Countries means is not a typing error. Then, I will replace those value with 0 
null_cooking = energy_data[energy_data['access_cooking_fuels'].isnull() == True]
null_cooking['country'].unique()
energy_data['access_cooking_fuels'] = energy_data['access_cooking_fuels'].fillna(0)

In [ ]:
#RENEVAL ELECTRICTY CAPACITY had 931 that represents 26% of the data . Then, I will drop that column and the columns with more than 25% of Null values (Financial FLows, Renewables), 
#ADD JUSTIFICATION, IF THE COUNTRI
energy_data = energy_data.drop(['renewal_electricity_capacity','financial_flows','renewables'], axis=1)

In [ ]:
#1. RENEWAL ENERGY SHARE. I will replace the values of Albania by 0 due all the country does not have data. The rest of the countries will apply other a linnear regression to predict the 2020 value
energy_data[(energy_data['country'] =='Albania') & energy_data['renewable_energy_share'].isnull()] = energy_data[(energy_data['country'] =='Albania') & energy_data['renewable_energy_share'].isnull()].fillna(0)

In [ ]:
#2. RENEWAL ENERGY SHARE. I will apply a linner regression model to 
for col in ['renewable_energy_share','electricity_fossil_fuels', 'electricity_nuclear', 'electricity_renewals', 'electricity_low_carbon','energy_level','co2_emissions','gdp_growth','gdp_per_capita']:
  energy_data[col] = energy_data[col].fillna(energy_data[col].interpolate())

In [ ]:
print('Number of missing values in each columns are below : ')
print(energy_data.isnull().sum())

In [ ]:
for col in ['gdp_growth','gdp_per_capita','density']:
  energy_data[col] = energy_data[col].fillna(energy_data[col].mode())
energy_data = energy_data.drop(['gdp_growth','density','land_area','latitude','longitude'],axis=1)
energy_data.isnull().sum()

In [ ]:
df.isnull().sum()

In [ ]:
#Encoding Dataset

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.preprocessing import OrdinalEncoder
from sklearn import preprocessing

In [ ]:
enc = preprocessing.OrdinalEncoder()
X = energy_data[['country']]
enc.fit(X)
energy_data['country'] = enc.transform(energy_data[['country']])
energy_data.head(25)

#Normalization

In [ ]:
from sklearn.preprocessing import normalize

In [ ]:
energy_data_normalized = energy_data

#for col in ['access_electricity','access_cooking_fuels','renewable_energy_share','electricity_fossil_fuels','electricity_nuclear','electricity_renewals','electricity_low_carbon','primary_energy_consumption','energy_level','co2_emissions','gdp_per_capita']:
#  X = energy_data_normalized[[col]]
#  normalizer = preprocessing.Normalizer().fit(X)
#  energy_data_normalized[col] = normalizer.transform(X)
  
#energy_data_normalized.describe()

## 6. Model

In [ ]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.linear_model import LinearRegression

In [ ]:
target = 'primary_energy_consumption'
features = ['access_electricity',
    'gdp_per_capita','electricity_renewals',
    'electricity_fossil_fuels']
x_imputed = energy_data[features]
y = energy_data[target]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x_imputed, y, test_size = 0.4, random_state = 42)

In [ ]:
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

## 7. Split dataset

In [ ]:
from sklearn.model_selection import GroupKFold
import statsmodels.api as sm
import pandas as pd
import numpy as np
from sklearn.model_selection import GroupKFold

target = 'primary_energy_consumption'
X_kfold = energy_data.drop(columns=[target,'co2_emissions','gdp_per_capita','renewable_energy_share','access_cooking_fuels','energy_level'])
y_kfold = energy_data[target]

In [ ]:
group = energy_data.year.tolist()

In [ ]:
gkf = GroupKFold(n_splits=20)
for train_index, test_index in gkf.split(X_kfold, groups=group):
    print("Train:", train_index, "Test:", test_index)
    X_train_kfold = X_kfold.iloc[train_index,:]
    Y_train_kfold = y_kfold[train_index]
    X_test_kfold = X_kfold.iloc[test_index,:]
    Y_test_kfold = y_kfold[test_index]

### 11. Model Training

#### 11.1 Random Forest

In [ ]:
rf_param_grid = {'n_estimators': [100, 300, 500], 'max_depth': [None, 10, 20], 'min_samples_split': [2, 5, 10]}
rf_model = RandomForestRegressor(random_state=42)
rf_grid_search = GridSearchCV(estimator=rf_model, param_grid=rf_param_grid, scoring='neg_mean_squared_error', cv=5)
rf_grid_search.fit(x_train_scaled, y_train)
best_rf_params = rf_grid_search.best_params_

### 11.2 Gradient Boosting

In [ ]:
gb_param_grid = {'n_estimators': [100, 300, 500], 'max_depth': [3, 5, 7], 'learning_rate': [0.01, 0.1, 0.2]}
gb_model = GradientBoostingRegressor(random_state=42)
gb_grid_search = GridSearchCV(estimator=gb_model, param_grid=gb_param_grid, scoring='neg_mean_squared_error', cv=5)
gb_grid_search.fit(x_train_scaled, y_train)
best_gb_params = gb_grid_search.best_params_


### Initialization the models

In [ ]:
random_forest_model = RandomForestRegressor(**best_rf_params, random_state=42)
gradient_boosting_model = GradientBoostingRegressor(**best_gb_params, random_state=42)
linear_regression_model = LinearRegression()

### Training

In [ ]:
random_forest_model.fit(x_train_scaled, y_train)
gradient_boosting_model.fit(x_train_scaled, y_train)
linear_regression_model.fit(x_train_scaled, y_train)

### Predictions

In [ ]:
rforest_predictions = random_forest_model.predict(x_test_scaled)
linreg_predictions = linear_regression_model.predict(x_test_scaled)
gradboost_predictions = gradient_boosting_model.predict(x_test_scaled)

In [ ]:
rf_mse = mean_squared_error(y_test, rforest_predictions)
lr_mse = mean_squared_error(y_test, linreg_predictions)
gb_mse = mean_squared_error(y_test, gradboost_predictions)

In [ ]:
rf_r2 = r2_score(y_test, rforest_predictions)
lr_r2 = r2_score(y_test, linreg_predictions)
gb_r2 = r2_score(y_test, gradboost_predictions)

In [ ]:
results = pd.DataFrame({
    'Model': ['Random Forest', 'Linear Regression', 'Gradient Boosting'],
    'MSE': [rf_mse, lr_mse, gb_mse],
    'R-squared': [rf_r2, lr_r2, gb_r2]
})

In [ ]:
results

### 11. Conclusion / Answer Question